<div class="row">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Generated Power
            </div>
            <div class="panel-body">
                &nbsp;
            </div>
        </div>
        
        <div class="panel panel-primary">
            <div class="panel-heading">
                Uptime & Downtime
            </div>
            <div class="panel-body">
                &nbsp;
            </div>
        </div>
        
        <div class="panel panel-primary">
            <div class="panel-heading">
                Windspeed
            </div>
            <div class="panel-body">
                &nbsp;
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Data Streaming
            </div>
            <div class="panel-body">
                &nbsp;
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Monthly Forecast
            </div>
            <div class="panel-body">
                &nbsp;
            </div>
        </div>
        
        <div class="panel panel-primary">
            <div class="panel-heading">
                FY Forecast
            </div>
            <div class="panel-body">
                &nbsp;
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
    })
</script>